<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', { title: 'Apartment Details'}) %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
  <%- include('partials/header') %>

    <main class="container">
        <article class="apartment">
            <header><%= selectedApartment.title %></header>
            <div><img src="<%= selectedApartment.mainPhoto %>" alt="" />
              <caption><%= selectedApartment.mainPhotoCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoTwo %>" alt="" />
              <caption><%= selectedApartment.photoTwoCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoThree %>" alt="" />
              <caption><%= selectedApartment.photoThreeCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoFour %>" alt="" />
              <caption><%= selectedApartment.photoFourCaption %></caption>
            </div>
          <footer>
            <div>
              <del style="color:grey"><%= selectedApartment.price %></del> <%= selectedApartment.price * 0.9 %>€/night
            </div>
            <div>
              City: <%= selectedApartment.city %>
             </div>
             <div>
              Province: <%= selectedApartment.province %>
             </div>
             <div>
              GPS: <%= selectedApartment.gps %>
             </div>
            <div>
             Description: <%= selectedApartment.description %>
            </div>
            <div>
              Rules: <%= selectedApartment.rules %> 
            </div>
            <div>
              Number of Bedrooms: <%= selectedApartment.bedrooms %> 
            </div>
            <div>
              Total Beds: <%= selectedApartment.totalBeds %> 
            </div>
            <div>
              Bathrooms: <%= selectedApartment.bathrooms %> 
            </div>
            <div>
              Maximum Number Of Guests: <%= selectedApartment.maxNumberOfGuests %> 
            </div>
            <div>
              Size: <%= selectedApartment.size %>  M <sup>2</sup>
            </div>
            <div>
              Services: 
            </div>
            <div>
              <%= selectedApartment.tv ? "tv" : "" %> <br>
              <%= selectedApartment.airConditioning ? "air conditioning" : "" %> <br>
              <%= selectedApartment.centralHeating ? "central heating" : "" %> <br>
              <%= selectedApartment.wifi ? "wi-fi" : "" %> <br>
              <%= selectedApartment.disabledAccess ? "disabled access" : "" %> <br>
              <%= selectedApartment.kitchen ? "kitchen" : "" %> <br>
              <br>
            </div>
          </footer>
        </article>
        <div>
          Is the user admin? <%= isAdmin %><br>
          <% if (isAdmin) { %>
            <a href="/admin/apartment/<%= selectedApartment._id %>/edit/">Edit the apartment</a>
        <% } else if (isUser) { %>
        
            <form action="/apartment/new-reservation" method="POST">
                <label for="id"></label>
                <input type="hidden" name="id" value="<%= selectedApartment._id %>"> 
                
                <input type="email" name="email" id="email" placeholder="e-mail" required>
                <input type="text" id="datepicker" name="startDate" id="startDate=" placeholder="start date">
                <input type="text" id="datepicker" name="endDate" id="endDate=" placeholder="end date">

                <input type="submit" value="Reserve">
            </form>
        
        <% } else if (!isAuthenticated) { %> 
              <p><a href="/login">Log in</a> or <a href="/sign-up">sign up</a> as a standard user here if you want to make a reservation</p>
                

        <% } %>
        
        </div>
      </main>

      <!-- Include Flatpickr JS from CDN -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  
const reservedDates = <%- JSON.stringify(reservedDates.map(date => date.toISOString().split('T')[0])) %>;

    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#datepicker", {
            enableTime: false,
            dateFormat: "Y-m-d",
            minDate: "today",
            disable: reservedDates // Example of disabling specific dates
        });
    });
</script>
</body>
</html>