<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <%- include('partials/head', { title: 'Apartment Details'}) %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<style>
  #map { height: 300px; }
</style>
<body>
  <%- include('partials/header') %>

    <main class="container">

        <article class="apartment">
            <header><%= selectedApartment.title %></header>
            <div><img src="<%= selectedApartment.mainPhoto %>" alt="" />
              <caption><%= selectedApartment.mainPhotoCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoTwo %>" alt="" />
              <caption><%= selectedApartment.photoTwoCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoThree %>" alt="" />
              <caption><%= selectedApartment.photoThreeCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoFour %>" alt="" />
              <caption><%= selectedApartment.photoFourCaption %></caption>
            </div>
          <footer>
            <div>
              <b>Price:</b> <del style="color:grey"><%= selectedApartment.price %></del> <%= (selectedApartment.price * 0.9).toFixed(2) %> €/night
            </div>
            <div>
              <b>City:</b> <%= selectedApartment.city %>
             </div>
             <div>
              <b>Province:</b> <%= selectedApartment.province %>
             </div>
            <div>
             <b>Description:</b> <%= selectedApartment.description %>
            </div>
            <div>
              <b>Rules:</b> <%= selectedApartment.rules %> 
            </div>
            <div>
              <b>Number of Bedrooms:</b> <%= selectedApartment.bedrooms %> 
            </div>
            <div>
              <b>Total Beds:</b> <%= selectedApartment.totalBeds %> 
            </div>
            <div>
              <b>Bathrooms:</b> <%= selectedApartment.bathrooms %> 
            </div>
            <div>
              <b>Maximum Number Of Guests:</b> <%= selectedApartment.maxNumberOfGuests %> 
            </div>
            <div>
              <b>Size:</b> <%= selectedApartment.size %>  M <sup>2</sup>
            </div>
            <div>
              <b>Services: </b>
            </div>
            <div>
              <% if (selectedApartment.tv) { %>
                <img src="/icons/tv.svg" alt="TV Icon" width="32" height="32">
                TV <br>
              <% } %>
              
              <% if (selectedApartment.airConditioning) { %>
                <img src="/icons/air-con.svg" alt="Air Conditioning Icon" width="32" height="32">
                air conditioning <br>
              <% } %>
              
              <% if (selectedApartment.centralHeating) { %>
                <img src="/icons/heating.svg" alt="Heating Icon" width="24" height="24">
                central heating <br>
              <% } %>
              
              <% if (selectedApartment.wifi) { %>
                <img src="/icons/wi-fi.svg" alt="Wi-Fi Icon" width="24" height="24">
                wi-fi <br>
              <% } %>
              
              <% if (selectedApartment.disabledAccess) { %>
                <img src="/icons/wheelchair.svg" alt="Wheelchair Icon" width="24" height="24">
                disabled access <br>
              <% } %>
              
              <% if (selectedApartment.kitchen) { %>
                <img src="/icons/kitchen.svg" alt="Kitchen Icon" width="24" height="24">
                kitchen <br>
              <% } %>
              <br>
            </div>
          </footer>
          <footer>
            <% if (isUser) { %>
              <div><b>Host: </b><%= selectedApartment.user.username %></div>
              <button>Contact Host</button>
            <% } %>
          </footer>
          <footer>
            <div style="box-sizing: unset;" id="map"></div>
          </footer>
        </article>
        <div>
          <br>
          <% if (isAdmin && selectedApartment.user == userData.id) { %>
            <a href="/admin/apartment/<%= selectedApartment._id %>/edit/"><button>Edit the apartment</button></a>
        <% } else if (isUser) { %>
        
            <form action="/apartment/new-reservation" method="POST">
                <label for="id"></label>
                <input type="hidden" name="id" value="<%= selectedApartment._id %>">  
                <input type="hidden" name="email" id="email" placeholder="e-mail" value="<%= userData.email%>" required>
                <input type="text" id="datepicker" name="startDate" id="startDate=" placeholder="start date">
                <input type="text" id="datepicker" name="endDate" id="endDate=" placeholder="end date">

                <input type="submit" value="Reserve">
            </form>
        
        <% } else if (!isAuthenticated) { %> 
              <p><a href="/login">Log in</a> or <a href="/sign-up">sign up</a> as a standard user here if you want to make a reservation</p>
        <% } %>
        
        </div>
      </main>

<!-- Include Flatpickr JS from CDN -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  
const reservedDates = <%- JSON.stringify(reservedDates.map(date => date.toISOString().split('T')[0])) %>;

    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#datepicker", {
            enableTime: false,
            dateFormat: "Y-m-d",
            minDate: "today",
            disable: reservedDates 
        });
    });
</script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var lat = parseFloat(<%= JSON.stringify(selectedApartment.latitude) %>);
      var lng = parseFloat(<%= JSON.stringify(selectedApartment.longitude) %>);
      
      // Check for valid coordinates
      if (!isNaN(lat) && !isNaN(lng)) {
        var map = L.map('map').setView([lat, lng], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([lat, lng]).addTo(map);
      } else {
        console.error("Invalid latitude or longitude values.");
      }
    });
  </script>
</body>
</html>