<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
</head>
<body>
    <main class="container">
        <article class="apartment">
            <header><%= selectedApartment.title %></header>
            <div><img src="<%= selectedApartment.mainPhoto %>" alt="" />
            </div>
            <div><img src="<%= selectedApartment.photoTwo %>" alt="" />
              <caption><%= selectedApartment.photoTwoCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoThree %>" alt="" />
              <caption><%= selectedApartment.photoThreeCaption %></caption>
            </div>
            <div><img src="<%= selectedApartment.photoFour %>" alt="" />
              <caption><%= selectedApartment.photoFourCaption %></caption>
            </div>
          <footer>
            <div>
              <del style="color:grey"><%= selectedApartment.price %></del> <%= selectedApartment.price * 0.9 %>€/night
            </div>
            <div>
             Description: <%= selectedApartment.description %>
            </div>
            <div>
              Rules: <%= selectedApartment.rules %> 
            </div>
            <div>
              Number of Bedrooms: <%= selectedApartment.bedrooms %> 
            </div>
            <div>
              Total Beds: <%= selectedApartment.totalBeds %> 
            </div>
            <div>
              Bathrooms: <%= selectedApartment.bathrooms %> 
            </div>
            <div>
              Maximum Number Of Guests: <%= selectedApartment.maxNumberOfGuests %> 
            </div>
            <div>
              Size: <%= selectedApartment.size %>  M <sup>2</sup>
            </div>
            <div>
              Services: 
            </div>
            <div>
              <%= selectedApartment.tv ? "tv" : "" %> <br>
              <%= selectedApartment.airConditioning ? "air conditioning" : "" %> <br>
              <%= selectedApartment.centralHeating ? "central heating" : "" %> <br>
              <%= selectedApartment.wifi ? "wi-fi" : "" %> <br>
              <%= selectedApartment.disabledAccess ? "disabled access" : "" %> <br>
              <%= selectedApartment.kitchen ? "kitchen" : "" %> <br>
              <br>
            </div>
          </footer>
        </article>
        <div>
          Is the user admin? <%= isAdmin %>
          <% if (isAdmin) { %>
              <a href="/admin/apartment/<%= selectedApartment._id %>/edit/">Editar apartamento</a>
              <% } else { %> <!-- Si no soy administrador-->

                <form action="/apartment/new-reservation" method="POST">
                  <label for="id"></label>
                  <input type="id" name="id" value="<%= selectedApartment._id %>">
                  <label for="email"></label>
                  <input type="string" name="email" id="email" placeholder="email" required>
                  <label for="startDate"></label>
                  <input type="date" name="startDate" id="startDate" placeholder="start date" required>
                  <label for="endDate"></label>
                  <input type="date" name="endDate" id="endDate">
                  <input type="submit" value="reserve" placeholder="end date" required>
                </form>
                  <% } %>
        </div>
      </main>
</body>
</html>