<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Dashboard' }) %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="container">
    <div id="header-container">
      <div>
        <a href="/"><img src="/icons/tribook.svg" alt="tribook-logo" id="logo"></a>
      </div>
      <nav>
          <a id="login-button" href="/"><button style="margin-right: 5px;">Home</button></a>
          <a id="login-button" href="/logout"><button>Log Out</button></a>
      </nav>
    </div>

  </header>
  <div class="container">

        <% if (isAdmin) { %>

    <div class="apartments-view" id="apartments-view">
      
      <div class="message" style="background-color: blueviolet; inline-size: fit-content;">Admin</div>
      <br>

      <h1>Your Apartments</h1>

    <% if ((successMessage && successMessage.length > 0)) { %>
      <div class="message"><%= updatedApartment[0].title %><%= successMessage %></div>
    <% } %>

      <div class="change-view-option">
        <a href="/dashboard/bookings">View your bookings</a>
      </div>

      <form action="/dashboard/apartments" method="GET">
  
        <div>
          <label for="sortByApartments"><i class="fa fa-fw fa-sort"></i>Order Results:</label>
          <select name="sortByApartments" id="sortByApartments">
            <option value="newest">Latest Listings</option>
            <option value="oldest">Oldest Listings</option>
            <option value="listed">Listed</option>
            <option value="delisted">Delisted</option>
            <option value="titleAzApartments">Title: A-Z</option>
            <option value="titleZaApartments">Title: Z-A</option>
            <option value="priceHigh">Price: Ascending</option>
            <option value="priceLow">Price: Descending</option>
          </select>
        </div>
    
        <input type="submit" value="Search">
      </form>
  
      <main class="container  main-apartments-container">
            <% for (const ap of apartments) { %>
  
              <article class="apartment">
                <header>
                  <div class="home-apartment-title">
                    <%= ap.title %>
                  </div>
                </header>
                <a href="/apartment/<%= ap._id %>">
                  <div class="home-main-image-container"><img src="<%= ap.mainPhoto %>" alt="<%= ap.title%>" class="home-main-image" /></div>
                </a>
                <footer>
                  <div>
                    <b>Price: </b><%= ap.price %> £ per night
                  </div>
                  <b>Size:</b> <%= ap.size %> M <sup>2</sup>
                </footer>
                <footer>
                  <div>
                      <div style="display: flex; justify-content: space-between;">
                        <a href="/admin/apartment/<%= ap._id %>/edit">
                          <button>Edit</button>
                        </a>
                        <%- ap.listed ? '<button class="message">Listed</button>' : '<button class="alert-error">Delisted</button>' %>
                      </div>
                  </div>
                </footer>
              </article>

              <% } %>
  
            <% } %>
          </main>
    </div>


  </div>
  <script src="/js/form-scripts-dashboard-apartments.js"></script>
</body>

</html>