<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Dashboard' }) %>
</head>

<body>
  <header class="container">
    <div id="header-container">
      <div>
        <a href="/"><img src="/images/tribook.svg" alt="tribook-logo" id="logo"></a>
      </div>
      <nav>
          <a id="login-button" href="/"><button style="margin-right: 5px;">Home</button></a>
          <a id="login-button" href="/logout"><button>Log Out</button></a>
      </nav>
    </div>

  </header>
  <div class="container">
    <% if (isUser) { %>
      <div id="message">account type: standard user</div>

      <% for (const res of reservations) { %>
        <br>
        <div>
        <h1>Your confirmed bookings:</h1>
        <article class="apartment">
          <header>
            <%= res.apartment.title %>
          </header>
          <a href="/apartment/<%= res.apartment._id %>">
            <div><img src="<%= res.apartment.mainPhoto %>" alt="" /></div>
          </a>
          <footer>
            <div>
              checking-in date: <%= res.startDate %>
            </div>
            <div>
              checking-out date: <%= res.endDate %>
            </div>
            <div>
              <%= res.apartment.price %>€/night
            </div>
            <div>
              <%= res.apartment.size %> M <sup>2</sup>
            </div>
            <div>
              contact e-mail: <%= res.apartment.user.email %>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <a href="/apartment/<%= res.apartment._id %>">
                <button>Details</button>
              </a>
              <a href="mailto:<%= res.apartment.user.email %>">
                <button>Contact Host</button>
              </a>
            </div>
          </footer>
        </article>        
      </div>

  
        <% } %>

      <% } %>

        <% if (isAdmin) { %>
          <div id="message">account type: admin</div>
          <h1>Your apartments listed on Tribook:</h1>
          <% for (const ap of apartments) { %>

            <article class="apartment">
              <header>
                <%= ap.title %>
              </header>
              <a href="/apartment/<%= ap._id %>">
                <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
              </a>
              <footer>
                <div>
                  <%= ap.price %>€/night
                </div>
                <%= ap.size %> M <sup>2</sup>
              </footer>
              <footer>
                <div>
                    <div style="display: flex; justify-content: space-between;">
                      <a href="/apartment/<%= ap._id %>">
                        <button>Details</button>
                      </a>
                      <%- ap.listed ? '<button id="message">Listed</button>' : '<button id="alert">Delisted</button>' %>
                    </div>
                </div>
              </footer>
            </article>

            <% } %>

            <h1>Your bookings: </h1>

            <% for (const my of myApartmentsBooked) { %>

              <article class="apartment">
                <header>
                  <%= my.apartment.title %>
                </header>
                  <p>checking-in date: <%= my.startDate %></p>
                  <p>checking-out date: <%= my.endDate %></p>
                  <p>user: <%= my.user.username %></p>
                  <p>contact e-mail: <%= my.user.email %></p>
                <footer>
                  <button>Contact Guest</button>
                </footer>
              </article>
  
              <% } %>
          <% } %>

  </div>
</body>

</html>