<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Dashboard' }) %>
</head>

<body>
  <header class="container">
    <div id="header-container">
      <div>
        <a href="/"><img src="/icons/logo/tribook.svg" alt="tribook-logo" id="logo"></a>
      </div>
      <nav>
        <a id="login-button" href="/"><button style="margin-right: 5px;">Home</button></a>
        <a id="login-button" href="/logout"><button>Log Out</button></a>
      </nav>
    </div>
  </header>

  <div class="container">
    <% if (isUser) { %>
      <div class="user-type">Standard User</div>
      <br>
      <h1>Your Confirmed Bookings</h1>

      <form action="/dashboard/bookings" method="GET">
        <div>
          <label for="sortByBookingsUser"><i class="fa fa-fw fa-sort"></i>Sort By:</label>
          <select name="sortByBookingsUser" id="sortByBookingsUser">
            <option value="startDateUserBookings">Check-in: Ascending</option>
            <option value="endDateUserBookings">Check-out: Ascending</option>
            <option value="startDateLastUserBookings">Check-in: Descending</option>
            <option value="endDateLastUserBookings">Check-out: Descending</option>
            <option value="cityAscUserBookings">City: A-Z</option>
            <option value="cityDescUserBookings">City: Z-A</option>
          </select>
        </div>
        <input type="submit" value="Search">
      </form>

      <main class="container main-apartments-container">
        <% for (const res of reservations) { %>
          <article class="apartment">
            <header>
              <div class="home-apartment-title"><%= res.apartment.title %></div>
            </header>
            <a href="/apartment/<%= res.apartment._id %>">
              <div class="home-main-image-container"><img src="<%= res.apartment.mainPhoto %>" alt="<%= res.apartment.title %>" class="dashboard-img"/></div>
            </a>
            <footer>
              <div>
                <i class="fa fa-fw fa-calendar-check-o"></i>
                <b>Check-in:</b> <%= res.startDateFormatted %>
              </div>
              <div>
                <i class="fa fa-fw fa-calendar-check-o"></i>
                <b>Check-out:</b> <%= res.endDateFormatted %>
              </div>
              <div>
                <i class="fa fa-fw fa-gbp"></i>
                £<%= res.apartment.price %> per night
              </div>
              <div>
                <i class="fa fa-fw fa-map-marker"></i>
                <%= res.apartment.city %>
              </div>
              <div style="display: none;">
                <b>Contact</b> <%= res.apartment.user.email %>
              </div>
              <br>
              <div class="dashboard-bookings-buttons-container">
                <a href="/apartment/<%= res.apartment._id %>">
                  <button>Details</button>
                </a>
                <!-- testing ground !! -->
                  <button>Contact Host</button>
              </div>
            </footer>
          </article>
        <% } %>
      </main>
    <% } %>

    <% if (isAdmin) { %>
      <div class="bookings-view container" id="bookings-view">
        <div class="user-type">Admin</div>
        <br>
        <h1>Your Bookings</h1>
        <!-- testing ground -->
        <% if ((successMessage && successMessage.length > 0)) { %>
          <div class="message"><%= successMessage %></div>
          
        <% } %>
        <% if (apartments.length > 0) { %>
          <div class="change-view-option"><a href="/dashboard/apartments">View or edit your apartments</a></div>
        <% } %> 
        <% if (myApartmentsBooked.length > 0) { %>
          <form action="/dashboard/bookings" method="GET">
            <div>
              <label for="sortByBookings"><div class="flexify"><img src="/icons/sort-solid.svg" alt="sort icon" class="font-awesome-icons">Sort By:</div></label>
              <select name="sortByBookings" id="sortByBookings">
                <option value="startDate">Check-in: Ascending</option>
                <option value="endDate">Check-out: Ascending</option>
                <option value="startDateLast">Check-in: Descending</option>
                <option value="endDateLast">Check-out: Descending</option>
                <option value="usernameAz">Guest: A-Z</option>
                <option value="usernameZa">Guest: Z-A</option>
                <option value="titleAz">Title: A-Z</option>
                <option value="titleZa">Title: Z-A</option>
              </select>
            </div>
            <input type="submit" value="Search">
          </form>
        <% } else { %>
          <div class="alert-error">You do not have any bookings at present.</div>
        <% } %>
        <main class="apartments-booked-main-container">
          <% for (const my of myApartmentsBooked) { %>
            <article class="apartments-booked-container">
              <header>
                <div class="bookings-made-title">
                  <%= my.apartment.title %>
                </div>
              </header>
              <div class="bookings-made-container">
                <div>
                  <div class="flexify"><img src="/icons/calendar-check-regular.svg" alt="calendar icon" class="font-awesome-calendar"><b>Check In: </b><%= my.startDateFormatted %></div>
                  <div class="flexify"><img src="/icons/calendar-check-regular.svg" alt="calendar icon" class="font-awesome-calendar"><b>Check Out: </b><%= my.endDateFormatted %></div>
  
                  <div class="flexify"><img src="/icons/person-solid.svg" alt="person icon" class="font-awesome-icons" style="margin-left: 3px; margin-right:
                  6px; width: 0.65em;"><b>Guest:</b> <%= my.user.username %></div>

                  <div class="flexify"><img src="/icons/envelope-regular.svg" alt="envelope icon" class="font-awesome-icons" style="width: 0.85em;"><b>Contact: </b><%= my.user.email %></div>
                  
                  <br>
              </div>
              <footer>
                <div class="apartments-booked-buttons-container">
                  <a href="/dashboard/bookings/cancel/<%= my.id %>"><button style="background-color: red;">Cancel</button></a>
                  <a href="/apartment/<%= my.apartment.id %>"><button>Details</button></a>
                </div>
              </footer>
            </article>
          <% } %>
        </main>
      </div>
    <% } %>
  </div>

  <script src="/js/form-scripts-dashboard-bookings.js"></script>

</body>

</html>
