<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Dashboard' }) %>
</head>

<body>
  <header class="container">
    <div id="header-container">
      <div>
        <a href="/"><img src="/icons/logo/tribook.svg" alt="tribook-logo" id="logo"></a>
      </div>
      <nav>
          <a id="login-button" href="/"><button style="margin-right: 5px;">Home</button></a>
          <a id="login-button" href="/logout"><button>Log Out</button></a>
      </nav>
    </div>

  </header>
  <div class="container">

        <% if (isAdmin) { %>

    <div class="apartments-view" id="apartments-view">
      
      <div class="user-type">Admin</div>
      <br>

      <h1>Your Apartments</h1>

    <% if ((successMessage && successMessage.length > 0)) { %>
      <div class="message"><%= updatedApartment[0].title %><%= successMessage %></div>
    <% } %>

      <div class="change-view-option">
        <a href="/dashboard/bookings">View your bookings</a>
      </div>

      <form action="/dashboard/apartments" method="GET">
  
        <div>
          <label for="sortByApartments"><div class="flexify"><img src="/icons/sort-solid.svg" alt="sort icon" class="font-awesome-icons">Sort By:</div></label>
          <select name="sortByApartments" id="sortByApartments">
            <option value="newest">Latest Listings</option>
            <option value="oldest">Oldest Listings</option>
            <option value="listed">Listed</option>
            <option value="delisted">Delisted</option>
            <option value="titleAzApartments">Title: A-Z</option>
            <option value="titleZaApartments">Title: Z-A</option>
            <option value="priceHigh">Price: Ascending</option>
            <option value="priceLow">Price: Descending</option>
          </select>
        </div>
    
        <input type="submit" value="Search">
      </form>
  
      <main class="container  main-apartments-container">
            <% for (const ap of apartments) { %>
  
              <article class="apartment">
                <header>
                  <div class="home-apartment-title">
                    <%= ap.title %>
                  </div>
                </header>
                <a href="/apartment/<%= ap._id %>">
                  <div class="home-main-image-container"><img src="<%= ap.mainPhoto %>" alt="<%= ap.title%>" class="home-main-image" /></div>
                </a>
                <footer>
                  <div class="flexify">
                    <img src="/icons/sterling-sign-solid.svg" alt="pound sterling icon" class="font-awesome-icons"><b>Price: </b><%= ap.price %> £ per night
                  </div>
                  <div class="flexify">
                    <img src="/icons/maximize-solid.svg" alt="size icon" class="font-awesome-icons icons-adjust icons-size-adjust" style="position: relative; top: 1px;"><b>Size: </b><%= ap.size %> M <sup>2</sup>
                  </div>
                  <%- ap.listed ? '<div class="flexify" style="justify-content: flex-end"><div class="listed">Listed</div></div>' : '<div class="flexify" style="justify-content: flex-end"><div class="delisted">Delisted</div></div>' %>
                </footer>
                <footer>
                  <div>
                      <div style="display: flex; justify-content: space-between;">
                        <a href="/admin/apartment/<%= ap._id %>/edit">
                          <button>Edit</button>
                        </a>
                      </div>
                  </div>
                </footer>
              </article>

              <% } %>
  
            <% } %>
          </main>
    </div>


  </div>
  <script src="/js/form-scripts-dashboard-apartments.js"></script>
</body>

</html>