<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <%- include('partials/head', { title: 'Email' }) %>
      </head>
<body>
  <%- include('partials/header') %>
    <main class="container">
        <body>
            <h1>Cancellation email to: <%= user %></h1>
            <form action="/send-email/<%= user %>" method="POST">
              <label for="to">To:</label>
              <input type="email" id="to" name="to" value="<%= email %>" required placeholder="<%= email %>" readonly>
          
              <label for="subject">Subject:</label>
              <input type="text" id="subject" name="subject" value="<%= subject %>" required placeholder="Subject">
          
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="15" required placeholder="Type your message here..."><%= body %></textarea>
          
              <button type="submit">Send Email</button>
            </form>
    </main>
</body>
</html>