<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Home' }) %>
</head>

<body>
  <%- include('partials/header') %>

  <div class="container">


  <% if ((successMessage && successMessage.length > 0)) { %>
    <div class="message"><%= successMessage %></div>
    <br>
  <% } %>

    <% if (isAdmin) { %>
      <p><a href="/admin/apartment/new-apartment">Add a new apartment</a></p>
    <% } %>
  
    <% if (isUser) { %>
      <p>If you want to list an apartment on this app, <a class="button-logout" href="/sign-up">create</a> or <a class="button-logout" href="/login">log in</a> to
      an admin account.</p>
    <% } %>
  </div>

  <form action="/search" method="GET" class="container grid" style="display: flex;flex-direction: column;">
    <div class="search-form-values-container">
      <label for="minPrice">Min price:<input type="number" name="minPrice" id="minPrice" min="0" max="10000" placeholder="Min Price"></label>

      <label for="maxPrice">Max price: <input type="number" name="maxPrice" id="maxPrice" min="0" max="10000" placeholder="Max Price"></label>

      <label for="numberOfGuests">No of Guests: <input type="number" name="numberOfGuests" id="numberOfGuests" min="0" max="100" placeholder="No of Guests"></label>

      <label for="location">City:<input type="text" name="location" id="location" placeholder="City"></label>
    </div>

    <div class="search-form-date-container">
      <label for="startDate">Start Date:<input type="date" name="startDate" id="startDate"></label>
      <label for="endDate">End Date:<input type="date" name="endDate" id="endDate"></label>
    </div>

    <div>
      <select name="sortBy" id="sortBy">
        <option value="mostRecent">Most Recent First</option>
        <option value="minPriceFirst">Min Price First</option>
        <option value="maxPriceFirst">Max Price First</option>
      </select>
    </div>

    <input type="submit" value="Search">
  </form>

  <main class="container">

    <% if (zeroResultsMessage && apartments.length == 0) { %>
      <div class="alert-error">
          There are no properties to display. If you have an admin account, feel free to list an apartment. 
      </div>
  <% } %>

  <% if (zeroResultsMessage && apartments.length > 0) { %>
    <div class="alert-error">
        No results were found for your search. However, these uploaded properties might be of interest to you.
    </div>
    <br>
<% } %>

    <% for (const ap of apartments) { %>

      <article class="apartment">
        <header>
          <p><%= ap.title %></p>
        </header>
        <a href="/apartment/<%= ap._id %>">
          <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
        </a>
        <footer>
          <div>
            <%= ap.price %>€/night
          </div>
          <div>
            <%= ap.size %> M <sup>2</sup>
              <div>
                <a href="/apartment/<%= ap._id %>">
                  <button>Details</button>
                </a>
              </div>
          </div>
        </footer>
        <footer>
          <div class="services">
            <div>
              <% if (ap.airConditioning) { %>
                <img src="icons/air-con.svg" alt="Air Conditioning Icon" width="32" height="32">
              <% } %>
            </div>
            <div>
              <% if (ap.centralHeating) { %>
                <img src="icons/heating.svg" alt="Heating Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.disabledAccess) { %>
                <img src="icons/wheelchair.svg" alt="Wheelchair Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.tv) { %>
                <img src="icons/tv.svg" alt="TV Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.kitchen) { %>
                <img src="icons/kitchen.svg" alt="Kitchen Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.wifi) { %>
                <img src="icons/wi-fi.svg" alt="Wi-Fi Icon" width="24" height="24">
              <% } %>
            </div>
          </div>
        </footer>

      </article>

      <% } %>
  </main>

  <script src="/js/form-scripts.js"></script>
</body>

</html>