<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Home' }) %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('partials/header') %>

  <div class="container">

  <% if ((successMessage && successMessage.length > 0)) { %>
    <div class="message"><%= successMessage %></div>
    <br>
  <% } %>

    <% if (isAdmin) { %>
      <p><a href="/admin/apartment/new-apartment">Add a new apartment</a></p>
    <% } %>
  
    <% if (isUser) { %>
      <p>If you want to list an apartment on this app, <a class="button-logout" href="/sign-up">create</a> or <a class="button-logout" href="/login">log in</a> to
      an admin account.</p>
    <% } %>
  </div>
  
  <form id="searchForm" action="/search" method="GET" class="container grid" style="display: flex;flex-direction: column;">
    <div class="search-form-values-container">
      <label for="minPrice">Min price:<input type="number" name="minPrice" id="minPrice" min="0" max="10000" placeholder="Min Price"></label>

      <label for="maxPrice">Max price: <input type="number" name="maxPrice" id="maxPrice" min="0" max="10000" placeholder="Max Price"></label>

      <label for="numberOfGuests">Guests: <input type="number" name="numberOfGuests" id="numberOfGuests" min="0" max="100" placeholder="No of Guests"></label>

      <label for="location">City:<input type="text" name="location" id="location" placeholder="City"></label>
    </div>

    <div>
      
    </div>
    <div class="search-form-date-container">
      <label for="startDate">Start Date:<input type="date" name="startDate" id="startDate"></label>
      <label for="endDate">End Date:<input type="date" name="endDate" id="endDate"></label>
    </div>

    <div>
    <div>
      <label for="sortBy">Order Results:</label>
      <select name="sortBy" id="sortBy">
        <option value="mostRecent">Most Recent First</option>
        <option value="minPriceFirst">Min Price First</option>
        <option value="maxPriceFirst">Max Price First</option>
      </select>
    </div>

    <input type="submit" value="Search">
  </div>
  </form>

<div class="container">
  <div id="dateErrorMessage" class="alert-error-dates">
    The start date cannot be later than the end date.
  </div>

  <% if (zeroResultsMessage && apartments.length == 0) { %>
    <div class="alert-error" id="search-error">
        There are no properties to display. If you have an admin account, feel free to list an apartment. 
    </div>
<% } %>

<% if (zeroResultsMessage && apartments.length > 0) { %>
  <div class="alert-error" id="search-error">
      No results were found with that search criteria. However, these recently uploaded properties might be of interest.
  </div>
<% } %>
</div>

  <main class="container">

    <% for (const ap of apartments) { %>

      <article class="apartment">
        <header>
          <p><%= ap.title %></p>
        </header>
        <a href="/apartment/<%= ap._id %>">
          <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
        </a>
        <footer>
          <div>
            <%= ap.price %>£ per night
          </div>
          <div>
            <%= ap.size %> M <sup>2</sup>
              <div>
                <a href="/apartment/<%= ap._id %>">
                  <button>Details</button>
                </a>
              </div>
          </div>
        </footer>
        <footer>
          <div class="services">
            <div>
              <% if (ap.airConditioning) { %>
                <i class="fa fa-snowflake-o"></i>
              <% } %>
            </div>
            <div>
              <% if (ap.centralHeating) { %>
                <i class="fa fa-fw fa-thermometer"></i>
              <% } %>
            </div>
            <div>
              <% if (ap.disabledAccess) { %>
                <i class="fa fa-fw fa-wheelchair"></i>
              <% } %>
            </div>
            <div>
              <% if (ap.tv) { %>
                <i class="fa fa-fw fa-tv"></i>
              <% } %>
            </div>
            <div>
              <% if (ap.kitchen) { %>
                <i class="fa fa-cutlery fa-fw"></i>
              <% } %>
            </div>
            <div>
              <% if (ap.wifi) { %>
                <i class="fa fa-fw fa-wifi"></i>
              <% } %>
            </div>
          </div>
        </footer>

      </article>

      <% } %>
  </main>

  <!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  // Initialize Flatpickr for the start date and block past dates
  flatpickr("#startDate", {
    minDate: "today", // Prevent past dates from being selected
    dateFormat: "Y-m-d", // Set the date format
  });

  // Initialize Flatpickr for the end date and block past dates
  flatpickr("#endDate", {
    minDate: "today", // Prevent past dates from being selected
    dateFormat: "Y-m-d", // Set the date format
  });
</script>

  <script src="/js/form-scripts.js"></script>

</body>

</html>