<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <style>
    .services {
      display: flex;
    }

    .services div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      /* Adjust the spacing between icons as needed */
    }

  </style>
</head>

<body>

  <form action="/search" method="GET" class="container grid">
    <input type="number" name="minPrice" id="minPrice" min="0" max="10000" placeholder="min price">
    <input type="number" name="maxPrice" id="maxPrice" min="0" max="10000" placeholder="max price">
    <input type="number" name="numberOfGuests" id="numberOfGuests" min="0" max="100" placeholder="number of guests">
    <input type="text" name="location" id="location" placeholder="city/town">
    <input type="submit" value="search">
  </form>

  <main class="container">
    <% for (const ap of apartments) { %>

      <article class="apartment">
        <header>
          <%= ap.title %>
        </header>
        <a href="/apartment/<%= ap._id %>">
          <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
        </a>
        <footer>
          <div>
            <%= ap.price %>€/night
          </div>
          <div>
            <%= ap.size %> M <sup>2</sup>
              <div>
                <a href="/apartment/<%= ap._id %>">
                  <button>details</button>
                </a>
              </div>
          </div>
        </footer>
        <footer>
          <div class="services">
            <div>
              <%- ap.airConditioning ? '<img src="air-con.svg" alt="TV Icon" width="32" height="32"' : "" %>
            </div>
            <div>
              <%- ap.centralHeating ? '<img src="heating.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.disabledAccess ? '<img src="wheelchair.svg" alt="Wheelchair Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.tv ? '<img src="tv.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.kitchen ? '<img src="kitchen.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.wifi ? '<img src="wi-fi.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
          </div>
        </footer>

      </article>

      <% } %>
  </main>
</body>

</html>