<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Home' }) %>
</head>

<body>
  <%- include('partials/header') %>

  <div class="container">
    <% if (isAdmin) { %>
      <p><a href="/admin/apartment/new-apartment">Add a new apartment</a></p>
    <% } %>
  
    <% if (isUser) { %>
      <p>If you want to list an apartment on this app, <a class="button-logout" href="/sign-up">create</a> or <a class="button-logout" href="/login">log in</a> to
      an admin account.</p>
    <% } %>
  </div>

  <form action="/search" method="GET" class="container grid" style="display: flex;flex-direction: column;">
    <div style="display: flex; gap: 10px;">
      <input type="number" name="minPrice" id="minPrice" min="0" max="10000" placeholder="min price">
      <input type="number" name="maxPrice" id="maxPrice" min="0" max="10000" placeholder="max price">
      <input type="number" name="numberOfGuests" id="numberOfGuests" min="0" max="100" placeholder="number of guests">
      <input type="text" name="location" id="location" placeholder="city">
    </div>

    <div>
      <label for="startDate">start date<input type="date" name="startDate" id="startDate"></label>
      <label for="endDate">endDate<input type="date" name="endDate" id="endDate"></label>
    </div>

    <input type="submit" value="Search">
  </form>

  <main class="container">

    <% if (zeroResultsMessage && apartments.length == 0) { %>
      <div id="message">
          There are no properties to display. If you have an admin account, feel free to list an apartment. 
      </div>
  <% } %>

  <% if (zeroResultsMessage && apartments.length > 0) { %>
    <div id="message">
        No results were found for your search. However, the following properties might be of interest to you.
    </div>
    <br>
<% } %>

    <% for (const ap of apartments) { %>

      <article class="apartment">
        <header>
          <h1><%= ap.title %></h1>
        </header>
        <a href="/apartment/<%= ap._id %>">
          <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
        </a>
        <footer>
          <div>
            <%= ap.price %>€/night
          </div>
          <div>
            <%= ap.size %> M <sup>2</sup>
              <div>
                <a href="/apartment/<%= ap._id %>">
                  <button>Details</button>
                </a>
              </div>
          </div>
        </footer>
        <footer>
          <div class="services">
            <div>
              <%- ap.airConditioning ? '<img src="icons/air-con.svg" alt="TV Icon" width="32" height="32"' : "" %>
            </div>
            <div>
              <%- ap.centralHeating ? '<img src="icons/heating.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.disabledAccess ? '<img src="icons/wheelchair.svg" alt="Wheelchair Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.tv ? '<img src="icons/tv.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.kitchen ? '<img src="icons/kitchen.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.wifi ? '<img src="icons/wi-fi.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
          </div>
        </footer>

      </article>

      <% } %>
  </main>
</body>

</html>