<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('partials/head', { title: 'Home' }) %>
</head>

<body>
  <%- include('partials/header') %>

  <div class="container">

  <% if ((successMessage && successMessage.length > 0)) { %>
    <div class="message"><%= successMessage %></div>
    <br>
  <% } %>

    <% if (isAdmin) { %>
      <p><a href="/admin/apartment/new-apartment">Add a new apartment</a></p>
    <% } %>
  
    <% if (isUser) { %>
      <p>If you want to list an apartment on this app, <a class="button-logout" href="/sign-up">create</a> or <a class="button-logout" href="/login">log in</a> to
      an admin account.</p>
    <% } %>
  </div>
  
  <form id="searchForm" action="/search" method="GET" class="container grid" style="display: flex;flex-direction: column;">
    <div class="search-form-values-container">
      <label for="minPrice">Min price:<input type="number" name="minPrice" id="minPrice" min="0" max="10000" placeholder="Min Price"></label>

      <label for="maxPrice">Max price: <input type="number" name="maxPrice" id="maxPrice" min="0" max="10000" placeholder="Max Price"></label>

      <label for="numberOfGuests">No of Guests: <input type="number" name="numberOfGuests" id="numberOfGuests" min="0" max="100" placeholder="No of Guests"></label>

      <label for="location">City:<input type="text" name="location" id="location" placeholder="City"></label>
    </div>

    <div class="search-form-date-container">
      <label for="startDate">Start Date:<input type="date" name="startDate" id="startDate"></label>
      <label for="endDate">End Date:<input type="date" name="endDate" id="endDate"></label>
    </div>

    <div>
      <label for="sortBy">Filter Results:</label>
      <select name="sortBy" id="sortBy">
        <option value="mostRecent">Most Recent First</option>
        <option value="minPriceFirst">Min Price First</option>
        <option value="maxPriceFirst">Max Price First</option>
      </select>
    </div>

    <input type="submit" value="Search">
  </form>

<div class="container">
  <div id="dateErrorMessage" class="alert-error-dates">
    The start date cannot be later than the end date.
  </div>

  <% if (zeroResultsMessage && apartments.length == 0) { %>
    <div class="alert-error" id="search-error">
        There are no properties to display. If you have an admin account, feel free to list an apartment. 
    </div>
<% } %>

<% if (zeroResultsMessage && apartments.length > 0) { %>
  <div class="alert-error" id="search-error">
      No results were found with that search criteria. However, these recently uploaded properties might be of interest.
  </div>
<% } %>
</div>

  <main class="container">

    <% for (const ap of apartments) { %>

      <article class="apartment">
        <header>
          <p><%= ap.title %></p>
        </header>
        <a href="/apartment/<%= ap._id %>">
          <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
        </a>
        <footer>
          <div>
            <%= ap.price %>€/night
          </div>
          <div>
            <%= ap.size %> M <sup>2</sup>
              <div>
                <a href="/apartment/<%= ap._id %>">
                  <button>Details</button>
                </a>
              </div>
          </div>
        </footer>
        <footer>
          <div class="services">
            <div>
              <% if (ap.airConditioning) { %>
                <img src="icons/air-con.svg" alt="Air Conditioning Icon" width="32" height="32">
              <% } %>
            </div>
            <div>
              <% if (ap.centralHeating) { %>
                <img src="icons/heating.svg" alt="Heating Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.disabledAccess) { %>
                <img src="icons/wheelchair.svg" alt="Wheelchair Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.tv) { %>
                <img src="icons/tv.svg" alt="TV Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.kitchen) { %>
                <img src="icons/kitchen.svg" alt="Kitchen Icon" width="24" height="24">
              <% } %>
            </div>
            <div>
              <% if (ap.wifi) { %>
                <img src="icons/wi-fi.svg" alt="Wi-Fi Icon" width="24" height="24">
              <% } %>
            </div>
          </div>
        </footer>

      </article>

      <% } %>
  </main>

  <!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  // Initialize Flatpickr for the start date and block past dates
  flatpickr("#startDate", {
    minDate: "today", // Prevent past dates from being selected
    dateFormat: "Y-m-d", // Set the date format
  });

  // Initialize Flatpickr for the end date and block past dates
  flatpickr("#endDate", {
    minDate: "today", // Prevent past dates from being selected
    dateFormat: "Y-m-d", // Set the date format
  });
</script>

  <script src="/js/form-scripts.js"></script>

</body>

</html>