<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head', { title: 'Home' }) %>
</head>

<body>
  <%- include('partials/header') %>

  <div class="container">
    <p>
      <% if (isAdmin) { %> <a href="/admin/apartment/new-apartment">Add a new apartment</a>
        <% } %>
    </p>
    <p>
      <% if (isUser) { %>
        <p><a class="button-logout" href="/sign-up">Create</a> or <a class="button-logout" href="/login">log in</a> to
          your admin account if you want to list an apartment on this app.</p>
        <% } %>
    </p>
  
  </div>

  <form action="/search" method="GET" class="container grid">
    <input type="number" name="minPrice" id="minPrice" min="0" max="10000" placeholder="min price">
    <input type="number" name="maxPrice" id="maxPrice" min="0" max="10000" placeholder="max price">
    <input type="number" name="numberOfGuests" id="numberOfGuests" min="0" max="100" placeholder="number of guests">
    <input type="text" name="location" id="location" placeholder="city/town">
    <input type="submit" value="search">
  </form>

  <main class="container">

    <% if (zeroResultsMessage) { %>
      <div class="alert alert-info">
          <p>No results were found for your search. However, the following properties might be of interest to you. </p>
      </div>
  <% } %>

    <% for (const ap of apartments) { %>

      <article class="apartment">
        <header>
          <%= ap.title %>
        </header>
        <a href="/apartment/<%= ap._id %>">
          <div><img src="<%= ap.mainPhoto %>" alt="" /></div>
        </a>
        <footer>
          <div>
            <%= ap.price %>€/night
          </div>
          <div>
            <%= ap.size %> M <sup>2</sup>
              <div>
                <a href="/apartment/<%= ap._id %>">
                  <button>details</button>
                </a>
              </div>
          </div>
        </footer>
        <footer>
          <div class="services">
            <div>
              <%- ap.airConditioning ? '<img src="air-con.svg" alt="TV Icon" width="32" height="32"' : "" %>
            </div>
            <div>
              <%- ap.centralHeating ? '<img src="heating.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.disabledAccess ? '<img src="wheelchair.svg" alt="Wheelchair Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.tv ? '<img src="tv.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.kitchen ? '<img src="kitchen.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
            <div>
              <%- ap.wifi ? '<img src="wi-fi.svg" alt="TV Icon" width="24" height="24"' : "" %>
            </div>
          </div>
        </footer>

      </article>

      <% } %>
  </main>
</body>

</html>