<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1><%= apartment._id ? "Edit" : "Add New" %> Apartment</h1>

      <form action="/admin/apartment/new-apartment" method="POST">
        <!-- hidden document id -->
        <input type="hidden" name="id" id="id" value="<%= apartment._id %>" />

        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          maxlength="30"
          required
          value="<%= apartment.title %>"
        />

        <label for="description">Description</label>
        <textarea rows="5" name="description" id="description">
<%= apartment.description %></textarea
        >

        <label for="price">Price/Night</label>
        <input
          type="number"
          name="price"
          id="price"
          min="0"
          required
          value="<%= apartment.price %>"
        />

        <label for="size">M <sup>2</sup></label>
        <input
          type="number"
          name="size"
          id="size"
          min="0"
          required
          value="<%= apartment.size %>"
        />

        <label for="mainPhoto">Main Photo</label>
        <input
          type="url"
          name="mainPhoto"
          id="mainPhoto"
          required
          value="<%= apartment.mainPhoto %>"
        />

        <input type="submit" value="<%= apartment._id ? "Edit Apartment" : "Add Apartment" %>" />
      </form>
    </main>
  </body>
</html>
