<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1><%= apartment._id ? "Edit" : "Add New" %> Apartment</h1>

      <form action="/admin/apartment/new-apartment" method="POST">
        <!-- hidden document id -->
        <input type="hidden" name="id" id="id" value="<%= apartment._id %>" />

        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          maxlength="30"
          required
          value="<%= apartment.title %>"
        />

        <label for="description">Description</label>
        <textarea rows="5" name="description" id="description">
<%= apartment.description %></textarea
        >

        <label for="rules">Rules</label>
        <textarea rows="5" name="rules" id="rules"></textarea
        >

        <label for="bedrooms">Bedrooms</label>
        <input
          type="number"
          name="bedrooms"
          id="bedrooms"
          min="0"
        />

        <label for="totalBeds">Total Number Of Beds</label>
        <input
          type="number"
          name="totalBeds"
          id="totalBeds"
          min="0"
        />

        <label for="bathrooms">Number Of Bathrooms</label>
        <input
          type="number"
          name="bathrooms"
          id="bathrooms"
          min="0"
        />

        <label for="price">Price/Night</label>
        <input
          type="number"
          name="price"
          id="price"
          min="0"
          required
          value="<%= apartment.price %>"
        />

        <label for="maxNumberOfGuests">Maximum Number Of Guests</label>
        <input
          type="number"
          name="maxNumberOfGuests"
          id="maxNumberOfGuests"
          min="0"
        />

        <label for="size">M <sup>2</sup></label>
        <input
          type="number"
          name="size"
          id="size"
          min="0"
          required
          value="<%= apartment.size %>"
        />

        <label for="mainPhoto">Main Photo</label>
        <input
          type="url"
          name="mainPhoto"
          id="mainPhoto"
          required
          value="<%= apartment.mainPhoto %>"
        />

        <label>
          <input type="checkbox" name="wifi" value="true"> Wi-Fi
      </label>
      <label>
          <input type="checkbox" name="airConditioning" value="true"> Air Conditioning
      </label>
      <label>
          <input type="checkbox" name="kitchen" value="true"> Kitchen
      </label>
      <label>
          <input type="checkbox" name="disability" value="true"> Disability Access
      </label>
      <label>
          <input type="checkbox" name="heater" value="true"> Heater
      </label>
      <label>
          <input type="checkbox" name="tv" value="true"> TV
      </label><br>

        <label for="province">Province</label>
        <input
          type="string"
          name="province"
          id="province"
        />

        <label for="city">City</label>
        <input
          type="string"
          name="city"
          id="city"
        />

        <label for="GPS">GPS</label>
        <input
          type="string"
          name="gps"
          id="gps"
        />

        <input type="submit" value="<%= apartment._id ? "Edit Apartment" : "Add Apartment" %>" />
      </form>
    </main>
  </body>
</html>
